/** Generales */
body {
    color: #373A3C;
    font-family: "Cabin", san-serif;
    font-weight:  400;
}


/** Barra de Navegacion */

.navbar{
    background-color: #373A3C !important;
    color: white !important;
}

.navbar-brand{
    font-family: "lobster", sans-serif;
}



/*** Contenido Principal */

main {
    max-width: 1000px;
    margin: 0 auto;
}

main .card {
    max-width: 900px
}

main .card img {
    height: 100%;
    width: 30rem;
    border-radius: 2px;

}

main button {
    border: 1px solid #DDDD;
    height: 2.5rem;
    width: 8rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

  .tooltip-inner {
    max-width: 100%;
    background-color: #373A3C;
  }


  /**  Carrusel */

.carrusel {
  max-width: 1000px;
}

  /** Description */

  .description {
    max-width: 1000px;
  }


  /** Relacionadas */

  .relacionadas {
    max-width: 1000px;
  }

/* * Footer */

.seccion-suscripcion{
  background-color: #DC3545 !important;
  color: #fff;
}

footer{
  background-color: #373A3C;
  color: #fff;
}

.titulo {
  background-color: #373A3C !important;
  color: white !important;
  font-family: "lobster", sans-serif;
}